@charset "utf-8";
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}


/* TYPOGRAPHY */

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #333;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: #777
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #868686;
    transition: .5s ease;
}

a:hover,
a:focus {
    transition: .5s ease;
    color: goldenrod;
}

button {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
    padding: 5px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul li {
    margin-left: 15%;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #868686;
    transition: .5s ease;
}

nav a:hover {
    transition: .5s ease;
    color: goldenrod;
}

.main-banner {
    height: 575px;
    margin-bottom: 10px;
}

.main-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: middle center;
}


/* CAROUSEL */

.carousel {
    /* max-width: 1200px; */
    height: 500px;
    margin-bottom: 10px;
    position: relative;
}

.carousel-item,
.carousel-item-hidden {
    display: none;
    transition: 0.5s;
}

.carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.7s;
}

.carousel-item {
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: middle center;
}

.carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* .carousel-actions button {
    cursor: pointer;
    width: 200px!important;
} */

#carousel-button-prev {
    margin-left: 2%;
}

#carousel-button-next {
    margin-right: 2%;
}

.carousel-actions button {
    background-color: goldenrod;
    border: 2px solid goldenrod;
    cursor: pointer;
    padding: 15px;
    width: 50px;
    height: 50px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.carousel-actions button:hover {
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* .carousel-item-hidden {
    display: none;
} */


/* SELECTION */

.selection {
    width: 100%;
    min-height: 110px;
    background-color: goldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../img/grey-pattern.svg);
    background-size: 80%;
}

.selection>* {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropdownbtn {
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    padding: 15px;
    min-width: 200px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.primary-btn {
    background-color: goldenrod;
    border: 2px solid goldenrod;
    cursor: pointer;
    padding: 15px;
    min-width: 150px;
    max-height: 50px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.primary-btn:hover {
    background-color: transparent;
    border: 2px solid orange;
    cursor: pointer;
    color: orange;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.secondary-btn {
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 15px 26px;
    min-width: 150px;
    font-size: 14px;
    color: goldenrod;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.secondary-btn:hover {
    background-color: goldenrod;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    transition: 0.5s ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    text-align: center;
    padding: 20px;
    line-height: 0;
    margin: 0;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ACCOMMODATION */

.accommodation {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 10px auto;
}

.bgr-color h2 {
    color: white;
}

.one-third {
    background-color: darkcyan;
    height: 500px;
    display: flex;
    flex: 1 1 33%;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
}

.cta-content {
    margin: 0px;
    padding: 0 10%;
    text-align: center;
}

.cta-content button {
    margin-bottom: 5%;
}

.full-cta-img-content button {
    margin-bottom: 2%;
}

.two-third {
    width: 66%;
    height: 500px;
}

.two-third img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.cta-img {
    flex: 1 1 40%;
}


/* FULL CTA NO IMAGE */

.full-cta {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pattern-bgr {
    width: 100%;
    height: 100%;
    background-blend-mode: screen;
    background-image: url(../img/grey-pattern.svg);
    background-size: 100%;
    background-color: #736357;
    color: white;
}

.outline-btn {
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    padding: 15px 3%;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.outline-btn:hover {
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 15px 3%;
    /* min-width: 200px; */
    font-size: 14px;
    color: goldenrod;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}


/* FULL CTA WITH IMAGE */

.full-cta-img {
    height: 450px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-cta-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: middle right;
    filter: brightness(0.8);
}

.full-cta-img-content {
    position: absolute;
    color: white;
    text-align: center;
    width: 50%;
    /* add filter drop shadow or make picture more dark */
}


/* FOOD */

.food {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 10px auto;
}

.food .one-third {
    background-color: #5d8d2f;
    height: 500px;
    display: flex;
    flex: 1 1 33%;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    margin-right: 0;
}

.food .cta-content {
    margin: 0px;
    padding: 0 10%;
    text-align: center;
}

.food .two-third {
    width: 66%;
    height: 500px;
}

.food .two-third img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.food .cta-img {
    flex: 1 1 60%;
}


/* FOOTER */

footer .pattern-bgr {
    height: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.big-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}

footer .logo {
    width: 350px;
    margin: auto;
}

.search {
    display: flex;
    justify-content: center;
}

input {
    padding: 14px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.08);
    font-size: 16px;
    margin-right: 5px;
    color: #c8c8c8;
    max-height: 150px;
    border-radius: 0px;
}

.small-section {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.small-section input {
    width: 229px;
    font-family: 'Dosis', serif;
}

.newsletter {
    display: flex;
    flex: 1 1 25%;
}

 ::placeholder {
    font-family: 'Dosis', serif;
    font-size: 18px;
    color: lightgrey;
}

footer-nav {
    flex: 1 1 50%;
}

footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

footer-nav ul li {
    flex: 1;
    padding: 0px 15px;
    text-align: center;
    font-size: 16px;
}

footer-nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

footer-nav ul a:hover {
    transition: .5s ease;
    color: goldenrod;
}

.login {
    display: flex;
    flex: 1 1 25%;
}


/* GALERY PAGE */

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    grid-auto-rows: 75px;
    grid-auto-flow: row dense;
}

.container img {
    display: block;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}


/* CONTACT PAGE */

.contact {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% auto;
}

.contact-banner {
    height: 450px;
}

.contact-banner img {
    object-position: middle;
}

.contact form {
    width: 30%;
}

.contact .resort {
    width: 30%;
}

.contact .reservation {
    width: 30%;
}

.contact input {
    padding: 14px;
    border: 2px solid #736357;
    font-size: 16px;
    margin-right: 5px;
    color: #333;
    max-height: 150px;
}

.contact .required {
    color: goldenrod;
}

.contact textarea {
    padding: 14px;
    border: 2px solid #736357;
    font-size: 16px;
    margin-right: 5px;
    color: #333;
    max-width: 400px;
    margin-bottom: 5%;
    border-radius: 0px;
}

.resort a {
    text-transform: none;
}

.third-btn {
    background-color: transparent;
    border: 2px solid goldenrod;
    cursor: pointer;
    padding: 15px 26px;
    min-width: 150px;
    max-height: 50px;
    font-size: 14px;
    color: goldenrod;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.third-btn:hover {
    background-color: goldenrod;
    border: 2px solid goldenrod;
    cursor: pointer;
    color: white;
    transition: 0.5s ease-in-out;
}

form button {
    margin: 10% 0;
}


/* ABOUT PAGE */

.about {
    height: 450px;
}

.about img {
    object-position: bottom;
}

.pattern-bgr-white {
    width: 100%;
    height: 100%;
    background-image: url(../img/white-pattern.svg);
    background-size: 100%;
    background-color: lightgrey;
    color: #777;
}

.pattern-bgr-teal {
    width: 100%;
    height: 100%;
    background-blend-mode: soft-light;
    background-image: url(../img/white-pattern.svg);
    background-size: 100%;
    background-color: teal;
    /* background-color: rgb(0, 102, 128); */
    color: white;
}

.pattern-bgr-gold {
    width: 100%;
    height: 100%;
    background-blend-mode: overlay;
    background-image: url(../img/white-pattern.svg);
    background-size: 100%;
    background-color: goldenrod;
    color: white;
}

.content {
    padding: 3% 5%;
}

.content button {
    margin-bottom: 2%;
}

.pattern-content {
    margin-bottom: 10px;
}

.half-cta {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.half-col:nth-child(odd) {
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
}

.half-col:nth-child(even) {
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    align-items: center;
}

.half-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: middle center;
}

.half-col-content {
    margin: 0px;
    padding: 10%;
}

@media only screen and (max-width:1200px) and (min-width: 900px) {
    .selection {
        width: 100%;
        min-height: 150px;
        background-color: goldenrod;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-image: url(../img/grey-pattern.svg);
        background-size: 150%;
    }
    .selection>* {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* ACCOMMODATION */
    .accommodation {
        flex-direction: column;
    }
    .one-third {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .cta-content {
        padding: 5%;
    }
    .cta-content button {
        margin-bottom: 2%;
    }
    .two-third {
        width: 100%;
    }
    .food .one-third {
        margin-bottom: 0;
    }
    /* CONTACT PAGE */
    /* .contact-banner img {
        object-fit: cover;
        object-position: middle;
    } */
    .contact {
        width: 90%;
    }
}

@media only screen and (max-width: 980px) and (min-width: 665px) {
    .cta-content button,
    .full-cta-img-content button {
        margin-bottom: 2%;
    }
    .contact {
        flex-direction: column;
        width: 90%;
    }
    .contact form {
        width: 100%;
    }
    .contact input {
        width: 600px;
    }
    .contact textarea {
        width: 800px;
    }
    .contact .resort {
        width: 100%;
    }
    .contact .reservation {
        width: 100%;
    }
    .half-cta {
        flex-direction: column;
    }
    .half-col:nth-child(odd) {
        margin-right: 0px;
    }
    .half-col:nth-child(even) {
        margin-right: 0px;
    }
    .half-col-img {
        margin-bottom: 10px;
    }
    .half-col-content {
        margin: 0px;
        padding: 5%;
    }
    .content button {
        margin-bottom: 3%;
    }
}

@media only screen and (max-width: 899px) and (min-width: 759px) {
    .selection {
        min-height: 200px;
    }
    .body {
        font-size: 16px;
        line-height: 26px;
    }
    .main-banner {
        margin-bottom: 10px;
    }
    .selection {
        width: 100%;
        height: 200px;
        background-color: goldenrod;
        display: flex;
        flex-wrap: wrap;
        background-image: url(../img/grey-pattern.svg);
        background-size: 100%;
    }
    .selection>* {
        padding: 0px;
        margin: 0 auto;
    }
    .pattern-bgr {
        background-size: 100%;
        background-repeat: none;
    }
    /* ACCOMMODATION */
    .accommodation {
        flex-direction: column;
    }
    .one-third {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .cta-content {
        padding: 10%;
    }
    .two-third {
        width: 100%;
        height: 400px;
        /* delete height so the img is 500px height and focus on the center*/
    }
    .two-third img {
        object-position: bottom;
    }
    /* FULL CTA WITH IMG */
    .full-cta-img {
        height: 440px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .full-cta-img-content {
        width: 70%;
    }
    .food {
        flex-direction: column;
    }
    .food .two-third {
        width: 100%;
    }
    .food .one-third {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .food .cta-content {
        padding: 10%;
    }
    /* FOOTER */
    .small-section {
        display: flex;
        flex-direction: column;
    }
    /* CONTACT */
    .contact {
        flex-direction: column;
        width: 90%;
    }
    .contact form {
        width: 100%;
    }
    .contact input {
        width: 80%;
    }
    .contact textarea {
        width: 80%;
    }
    .contact .resort {
        width: 100%;
    }
    .contact .reservation {
        width: 100%;
    }
    .half-col-img {
        margin-bottom: 10px;
    }
    .half-col-content {
        margin: 0px;
        padding: 5%;
    }
    .content button {
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 758px) and (min-width: 379px) {
    nav {
        max-width: 300px;
    }
    /* ACCOMMODATION */
    .accommodation {
        flex-direction: column;
    }
    .one-third {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .cta-content {
        padding: 15% 10%;
    }
    .two-third {
        width: 100%;
        height: 400px;
        /* delete height so the img is 500px height and focus on the center*/
    }
    .two-third img {
        object-position: bottom;
    }
    /* FULL CTA WITH IMG */
    .full-cta-img {
        height: 440px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .full-cta-img-content {
        width: 70%;
    }
    .pattern-bgr {
        background-size: 150%;
    }
    .food {
        flex-direction: column;
    }
    .food .two-third {
        width: 100%;
    }
    .food .one-third {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .food .cta-content {
        padding: 15% 10%;
    }
    .small-section {
        flex-direction: column;
    }
    .content button {
        margin-bottom: 7%;
    }
    /* CONTACT */
    .contact {
        flex-direction: column;
        width: 90%;
    }
    .contact form {
        width: 100%;
    }
    .contact input {
        width: 80%;
    }
    .contact textarea {
        width: 80%;
    }
    .contact .resort {
        width: 100%;
    }
    .contact .reservation {
        width: 100%;
    }
    /* ABOUT */
    .half-cta {
        flex-direction: column;
    }
    .half-col:nth-child(odd) {
        margin-right: 0px;
    }
    .half-col:nth-child(even) {
        margin-right: 0px;
    }
    .half-col-img {
        margin-bottom: 10px;
    }
    .pattern-bgr-gold,
    .pattern-bgr-teal {
        background-size: 200%;
    }
}

@media only screen and (max-width: 378px) {
    header .logo {
        width: 140px;
    }
    nav ul li {
        font-size: 14px;
        margin-left: 7%;
    }
    .selection {
        background-size: 300%;
        padding: 5%;
    }
    .pattern-bgr {
        background-size: 300%;
    }
    /* ACCOMMODATION */
    .accommodation {
        flex-direction: column;
    }
    .one-third {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .cta-content {
        padding: 15% 10%;
    }
    .two-third {
        width: 100%;
        height: 400px;
        /* delete height so the img is 500px height and focus on the center*/
    }
    .two-third img {
        object-position: bottom;
    }
    /* FULL CTA WITH IMG */
    .full-cta-img {
        height: 440px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .full-cta-img-content {
        width: 70%;
    }
    .food {
        flex-direction: column;
    }
    .food .two-third {
        width: 100%;
    }
    .food .one-third {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .food .cta-content {
        padding: 15% 10%;
    }
    /* FOOTER */
    footer .pattern-bgr {
        background-size: 300%;
        height: 600px;
    }
    footer .logo {
        width: 230px;
    }
    .small-section {
        flex-direction: column;
    }
    .search {
        flex-direction: column;
    }
    .search input {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .newsletter {
        flex-direction: column;
        justify-content: center;
    }
    .newsletter input {
        margin-right: 0;
        margin-bottom: 10px;
    }
    /* CONTACT */
    .contact {
        flex-direction: column;
        width: 85%;
    }
    .contact form {
        width: 100%;
    }
    .contact .resort {
        width: 100%;
    }
    .contact .reservation {
        width: 100%;
    }
    /* ABOUT */
    .content {
        padding: 10%;
    }
    .half-cta {
        flex-direction: column;
    }
    .half-col:nth-child(odd) {
        margin-right: 0px;
    }
    .half-col:nth-child(even) {
        margin-right: 0px;
    }
    .half-col-img {
        margin-bottom: 10px;
    }
    .content button {
        margin-bottom: 10%;
    }
    .pattern-bgr-gold,
    .pattern-bgr-teal {
        background-size: 300%;
    }
}